.pointer{
  cursor: pointer;
}

.bg-blue{
  background: #00A9A5;
  color: white;
}
.bg-orange{
  background: #F37C2F;
  color: white;
}
.bg-rose{
  background: #D50B8B;
  color: white;
}
.bg-light-green{
  background: #AFBC20;
  color: white;
}
.bg-peach{
  background: #F48462;
  color: white;
}
.bg-dark-green{
  background: #898908;
  color: white;
}


#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
  z-index: 1000;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
  text-align: center;
  font-size: 10pt;
	font-weight:700;
  width: 136px;
  height: auto;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
  width: 136px;
  font-size: 10pt;
  text-align: center;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  border: solid 2px;
}

#primary_nav_wrap ul a
{
	color: white;
  font-size: 10pt;
}


#primary_nav_wrap ul a:hover
{
	color: black;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:inherit;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:135px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:4px 15px;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}
